@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300");
:root {
  --reddish: #be3e2bcc;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Open Sans Condensed", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.page {
  display: grid;
  grid-template-rows: auto minmax(100px, 550px) auto;
}

.page > *:not(header) {
  padding: 20px;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: 2fr 6fr 2fr;
}

/* Top Social Icons */

.social {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  background-color: var(--reddish);
  font-size: 0.9rem;
}

.social__section1,
.social__section2 {
  padding: 8px 0;
}
.social__section1 a,
.social__section2 a {
  opacity: 0.7;
  transition: all 0.7s;
}
.social__section1 a:hover,
.social__section2 a:hover {
  opacity: 1;
}

.social-icon {
  height: 15px;
  width: 15px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
  background-repeat: no-repeat;
  background-size: 15px;
}

.social-icon--big {
  height: 20px;
  width: 20px;
  background-size: 20px;
}

.social-icon--email {
  background-image: url("../images/icons/mail.png");
}
.social-icon--phone {
  background-image: url("../images/icons/call.png");
}
.social-icon--facebook {
  background-image: url("../images/icons/facebook.png");
}
.social-icon--facebook {
  background-image: url("../images/icons/facebook.png");
}
.social-icon--instagram {
  background-image: url("../images/icons/instagram.png");
}
.social-icon--twitter {
  background-image: url("../images/icons/twitter.png");
}
.social-icon--linkedin {
  background-image: url("../images/icons/linkedin-sign.png");
}

.navigation {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  background-color: #be3e2b;
  align-items: center;
}

.navigation__list {
  padding: 10px 0px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 20px;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
}

.mobile-navigation {
  position: absolute;
  width: 110px;
  background: rgb(59, 56, 56);
  height: 100%;
  padding: 15px;
  z-index: 100;
  transform: translateX(-300px);
  transition: all 1s;
}

.mobile-navigation--open {
  transform: translateX(0);
}

.mobile-navigation__item {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.mobile-toggle__bar1,
.mobile-toggle__bar2,
.mobile-toggle__bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .mobile-toggle__bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .mobile-toggle__bar2 {opacity: 0;}
.change .mobile-toggle__bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.navigation__item {
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 16px;
}

.social,
.navigation {
  padding: 0 20px;
}

.button {
  background-color: #be3e2b;
  color: white;
  padding: 12px 15px;
  border: none;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.intro {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.intro__video {
  position: absolute;
  top: 0;
  z-index: -100;
  height: auto;
}

.intro__text {
  grid-column: 2;
  color: rgb(253, 240, 221);
  font-size: 1.7rem;
  display: grid;
  grid-gap: 18px;
  justify-items: start;
}

.intro__logo {
  margin: 0;
}

.intro__logo img {
  width: 80px;
  vertical-align: middle;
  margin-right: 10px;
}

/* Featured Work */

.featured-work {
  background: url("../images/featured_background.png");
  display: grid;
}

.featured-work__heading {
  margin: 0;
}

.featured-work__container {
  grid-column: 2;
}

.featured-work__container > h2 {
  margin-bottom: 20px;
}

.featured-work__section {
  display: grid;
  align-items: start;
  grid-template-columns: 350px 1fr;
  grid-gap: 20px;
}

.featured-work__text {
  display: grid;
  justify-items: start;
  grid-gap: 12px;
}

.featured-work__image {
  width: 100%;
  height: 100%;
}

/* Services */
.services {
  display: grid;
  background: url("../images/services_background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(253, 240, 221);
}

.services__container {
  grid-column: 2 / span 1;
  display: grid;
  grid-gap: 20px;
  justify-items: start;
}

.footer {
  display: grid;
  color: rgb(209, 215, 216);
  background-color: rgb(74, 85, 86);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 24px -2px inset;
}

.footer__container {
  grid-column: 2 / span 2;
  display: grid;
  justify-items: center;
  grid-gap: 15px;
}

@media only screen and (max-width: 700px) {
  .social {
    display: none;
  }
  .mobile-toggle {
    display: inline-block;
  }
  .navigation__item {
    display: none;
  }
}
